/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.eight h1 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color:#f8f8f8;
}



  /* OTHER SPARE PARTS */


.other-spare-parts p{
  color: black;
  font-weight: 400;
  text-align: center;
}

  /* CSS for Image Gallery */
  .unique-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.unique-image-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.unique-image-container p {
    margin-top: 10px;
    font-size: 16px;
}

.unique-image-container:hover img {
    transform: scale(1.1);
}

.unique-image-gallery {
    padding: 40px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .unique-image-container {
        width: 100%;
    }
}


/* ///// */

.all-product .border-edit{
  
    
  
}
.all-product .all-product-img {
 
  position: relative;
  margin: 60px 0 0 60px;
}
.all-product-para{
  margin-top:60px;
  font-size: 1em;
  text-align: justify;
}

.all-product .all-product-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  z-index: -1;
  content: "";
  background: url("../img/all-product-bg.png") top left;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .all-product .all-product-img {
    margin: 0px 0 0 0px;
  }
  .all-product-para{
    text-align: left;
  }

  .all-product .all-product-img:before {
    inset: 0px 0 0 0px;
  }
}

.all-product h3 {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .all-product h3 {
    font-size: 28px;
  }
}

.all-product .nav-pills {
  border-bottom: 1px solid rgba(var(--color-secondary-rgb), 0.2);
}

.all-product .nav-pills li+li {
  margin-left: 40px;
}

.all-product .nav-link {
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary);
  padding: 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
  font-family: var(--font-secondary);
}

.all-product .nav-link.active {
  color: var(--color-primary);
  background: none;
  border-bottom: 3px solid var(--color-primary);
}

@media (max-width: 575px) {
  .all-product .nav-link {
    font-size: 16px;
  }
}

.all-product .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: var(--color-secondary);
}

.all-product .tab-content i {
  font-size: 22px;
  line-height: 0;
  margin-right: 8px;
  color: var(--color-primary);
}
