


/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.eight h1 {
  text-align:center;
  margin-bottom: 30px;
  margin-top: -60px;
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  font-weight: 550;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #cccccc;
  background-color:#f8f8f8;
}



  /* OTHER SPARE PARTS */


.other-spare-parts p{
  color: black;
  font-weight: 400;
  text-align: center;
}

  /* CSS for Image Gallery */
  .unique-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.unique-image-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.unique-image-container p {
    margin-top: 10px;
    font-size: 16px;
}

.unique-image-container:hover img {
    transform: scale(1.1);
}

.unique-image-gallery {
    padding: 40px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .unique-image-container {
        width: 100%;
    }
}

/*ALL PRODUCT*/


.custom-container {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  background-color: white;
  width: 90%; /* Width covering 80% of the page */
  margin: 0 auto; /* Centering the box horizontally */
  padding: 20px;
  overflow: hidden; /* To contain floated elements */
  transition: all 0.3s ease;
  box-sizing: border-box; /* Include padding and border in the width */
}



.custom-image {
  float: left;
  width: 220px; /* Width of the image */
  margin-right: 20px;
}

.custom-image img {
  width: 100%; /* Make image responsive */
}

.custom-text {
  overflow: hidden;
}
.custom-text p {
  text-align: justify;
}

@media (max-width: 768px) {
  .custom-container {
    width: 100%; /* Full width on smaller screens */
  }

  .custom-image {
      width: 250px;
    float: none; /* Remove float on smaller screens */
    margin: 0 auto; /* Center image */
    display: block; /* Make image a block element */
  }

  .custom-text {
    margin-top: 20px;
    text-align: left;
    text-align: center; /* Center text */
  }
}



/*aaaaaaaaaaaaa*/
#a{
  margin-top: 50px;
}

/*cooling tower below text*/
.outer-box {
  
  width: 90%; /* Set width to 90% */
  margin: 30px auto; /* Center the box horizontally */
  border: none;
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.inner-box {
  flex: 1;
  padding: 10px;
}

.left-box, .right-box {
  background-color: white;
  padding: 10px;
  

}


.left-text, .right-text {
  margin: 0;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .outer-box {
    flex-direction: column; /* Stack boxes vertically */
  }
}

/*Cooling tower pics*/
.my-container {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my-image {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  width: calc(33.33% - 20px); /* 20px is the margin between images */
  margin-bottom: 20px;
}
.my-image img {

  width: 100%;
  height: auto;
}
.my-image-caption li {
  text-align: left;
  margin-top: 5px;
}
.my-image-caption h5 {
  margin-top: 15px;
  font-weight: 550;
  text-align: center;
  font-size: larger;
}

/* Responsive styles */
@media (max-width: 768px) {
  .my-image {
    width: calc(50% - 20px); /* Two images per row */
  }
}

@media (max-width: 480px) {
  .my-image {
    width: 100%; /* One image per row on smaller screens */
  }
}

/*PVC TYPE*/

.yo-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.yo-image-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  margin: 20px;
  text-align: center;
}
.yo-image-container img {
  width: 300px; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
.yo-image-container ul {
  margin-top: 20px;
  text-align: left;
}

.yo-image-container h5{
  margin-top: 10px;
  font-weight: 550;
}

.pvc-type{
  text-align: center;
  text-transform: uppercase;
  font-weight: 550;
}